source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/bootloader/Kconfig.projbuild"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_app_format/Kconfig.projbuild"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_rom/Kconfig.projbuild"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esptool_py/Kconfig.projbuild"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/partition_table/Kconfig.projbuild"