source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/app_trace/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/bt/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/console/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/driver/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/efuse/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp-tls/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_adc/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_coex/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_common/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_ana_cmpr/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_bitscrambler/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_cam/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_dac/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_gpio/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_gptimer/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_i2c/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_i2s/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_isp/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_jpeg/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_ledc/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_mcpwm/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_parlio/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_pcnt/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_rmt/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_sdm/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_spi/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_touch_sens/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_tsens/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_twai/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_uart/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_driver_usb_serial_jtag/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_eth/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_event/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_gdbstub/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_hid/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_http_client/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_http_server/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_https_ota/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_https_server/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_hw_support/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_lcd/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_mm/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_netif/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_partition/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_phy/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_pm/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_psram/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_ringbuf/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_rom/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_security/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_system/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_timer/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/esp_wifi/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/espcoredump/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/fatfs/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/freertos/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/hal/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/heap/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/ieee802154/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/log/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/lwip/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/mbedtls/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/mqtt/esp-mqtt/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/newlib/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/nvs_flash/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/nvs_sec_provider/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/openthread/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/protocomm/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/pthread/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/soc/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/spi_flash/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/spiffs/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/tcp_transport/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/ulp/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/unity/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/usb/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/vfs/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/wear_levelling/Kconfig"
source "H:/Espressif/frameworks/esp-idf-v5.5.4/components/wifi_provisioning/Kconfig"